body {
  color: #ccc;
  background: #000;
}

footer {
  display: none;
}

a {
  color: #ccc;
}

header, blockquote {
  border-color: #ccc;
}

.content {
  font-family: "Computer Modern Typewriter";
  white-space: pre;
  padding: 30px 0;
}

.content p {
  display: inline-block;
  margin: 0;
}

.content pre, .content code {
  margin: 0;
}

.content ul, .content ol {
  margin: 0;
  padding-left: 28px;
}
