body {
  color: white;
  background: black;
  height: 100%;
  padding-bottom: 90px;
}

footer {
  display: none;
}

a {
  color: white;
}

header, blockquote {
  border-color: white;
}

.content {
  font-family: "Computer Modern Typewriter";
  white-space: pre;
}

.content p {
  display: inline-block;
  margin: 0;
}

.content p:first-child {
  display: inline-block;
  margin-top: 30px;
}

.content ul, .content ol {
  margin: 0;
}
