html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Computer Modern Serif", serif;
  font-size: 18px;
}

pre {
  overflow-x: auto;
}

code {
  font-family: "Computer Modern Typewriter"
}

blockquote {
  padding: 10px;
  border: 1px dashed black;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

@media only screen
and (max-device-width : 600px) {
  .container {
    width: 90%;
  }
}

.identity {
  font-size: 32px;
  text-decoration: none;
  color: inherit;
}

header img {
  height: 55px;
  margin-top: 10px;
  float: right;
}

header {
  padding-bottom: 10px;
  border-bottom: 1px dashed black;
}

.content {
  flex: 1 0 auto;
}

footer {
  padding: 10px 0;
  border-top: 1px dashed black;
}

footer a {
  text-decoration: none;
}

h2 small {
  display: block;
  font-size: 16px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 5px;
}
