html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Computer Modern Serif", serif;
  font-size: 18px;
}

pre {
  overflow-x: auto;
}

code {
  font-family: "Computer Modern Typewriter"
}

blockquote {
  padding: 10px;
  border: 1px dashed black;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

kbd {
  display: inline-block;
  border-radius: 3px;
  padding: 2px 4px 0px;
  box-shadow: 1px 1px 1px #777;
  margin: 5px 0;
  font-size: small;
  vertical-align: text-bottom;
  background: #eee;
  color: #555;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 1px;
}

.nintendo {
  font-family: Wendy;
  font-weight: normal;
  letter-spacing: 0px;
  font-variant: caps;
}

.container {
  width: 600px;
  margin: 0 auto;
}

@media only screen
and (max-device-width : 600px) {
  .container {
    width: 90%;
  }
}

.identity {
  font-size: 32px;
  text-decoration: none;
  color: inherit;
}

header {
  padding: 10px 0;
  border-bottom: 1px dashed black;
}

header img {
  height: 60px;
  margin-top: 5px;
  float: right;
}

.content {
  flex: 1 0 auto;
}

footer {
  padding: 10px 0;
  border-top: 1px dashed black;
}

footer a {
  text-decoration: none;
}

h2 small {
  display: block;
  font-size: 16px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 5px;
}
