html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Computer Modern Serif", serif;
  font-size: 18px;
  color: #282c34;
}

pre {
  overflow-x: auto;
}

code {
  font-family: "Computer Modern Typewriter", monospace;
}

blockquote {
  background: #eee;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 5px 10px;
}

hr {
  border: 0;
  border-bottom: 1px dashed black;
}

kbd {
  display: inline-block;
  border-radius: 3px;
  padding: 2px 4px 0px;
  box-shadow: 1px 1px 1px #777;
  font-size: calc(100% - 6px);
  vertical-align: middle;
  background: #eee;
  color: #555;
  font-weight: 600;
  letter-spacing: 1px;
}

.hidden {
  visibility: hidden;
}

.nintendo {
  font-family: "Pixel";
  letter-spacing: 0px;
  font-variant: caps;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen
and (max-device-width : 600px) {
  .container {
    width: 90%;
  }
}

.identity {
  font-size: 32px;
  text-decoration: none;
  color: inherit;
}

header {
  padding: 10px 0;
  border-bottom: 1px dashed black;
}

header img {
  height: 60px;
  margin-top: 5px;
  float: right;
}

img {
  max-width: 100%;
}

.content {
  flex: 1 0 auto;
  min-height: 100%;
}

footer {
  margin-top: 50px;
  padding: 10px 0;
  font-size: 14px;
  border-top: 1px dashed black;
}

footer a {
  text-decoration: none;
}

h2 small {
  display: block;
  font-size: 16px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 5px;
}

.repos {
  background: #eee;
  border: 1px dashed black;
  font-size: 14px;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.repos li:before {
  content: '- ';
}

li.draft {
  opacity: 0.25;
}
