<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nixpulvis - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <script src="/js/mousetrap.min.js"></script>
    <script src="/js/main.js"></script>
  </head>

  <body class="container">
    <header>
      <img src="/img/cat-lambda.png" />
      <img src="/img/me.jpg" />
      <a href="/" class="identity">nixpulvis</a>
      <nav>
        <ul>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/ramblings">Ramblings</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      {{ content }}
    </div>

    <footer>
      <a href="https://en.wikipedia.org/wiki/Copyright_notice">©</a> Nathan Lilienthal, 2018
    </footer>
  </body>
</html>
