<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>nixpulvis - {{ page.title | default: page.path | split:'/' | last }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
    <link rel="stylesheet" type="text/css" href="http://c.filler00.com/resources/fonts/wendy/1.0/wendy.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="{{ page.style }}" />
    <script src="/js/mousetrap.min.js"></script>
    <script src="/js/main.js"></script>
  </head>

  <body class="container">
    <header>
      <img src="/img/cat-lambda.png" />
      <img src="/img/me.jpg" />
      <a href="/" class="identity">nixpulvis</a>
      <nav>
        <ul>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/ramblings">Ramblings</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">{{ content }}</div>

    <footer>
      <a href="https://en.wikipedia.org/wiki/Copyright_notice">©</a>
      Nathan Lilienthal, 2018
      <span style="float:right;">
        You <span class="nintendo">start</span> where you <kbd>⏎</kbd>
      </span>
    </footer>
  </body>
</html>
